<!DOCTYPE html>
<html lang="en">

<head>
    <title>Remote</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="/css/global.css" rel="stylesheet">
    <link href="/css/remote.css" rel="stylesheet">
</head>

<body>

<div id="loading"></div>

<div class="wrapper">
    <header>
        <div>
            <span id="status">You are currently not connected.</span>
            <button id="toggle" class="button" style="display: none;">Open video</button>
            <button id="disconnect" class="button" style="display: none">Disconnect</button>
        </div>
    </header>

    <main>
        <div id="users">
            <div class="flex-row">
                <h1>Users</h1>
                <button onclick="buildUserList()" class="ml1">Refresh</button>
            </div>
            <p>Click on a user bellow to view their files.</p>
            <div class="browser" id="userBrowser"></div>
        </div>

        <div id="files" style="display: none">
            <div class="flex-row mb1">
                <button class="mr1" id="back">← Back</button>
                <pre id="path" class="ml1">/</pre>
            </div>
            <div class="browser" id="fileBrowser"></div>
        </div>

        <video id="video" controls style="display: none;"></video>
    </main>

    <footer>
        <div>© Copyright Quozul.dev 2021</div>
    </footer>
</div>

<script src="/js/lib/subtitles-octopus.js"></script>
<script src="/js/lib/peerjs.min.js"></script>
<script src="/js/remote.js"></script>
<script src="/js/fileIcons.js"></script>
</body>

</html>
