<!DOCTYPE html>
<html>

<head>
    <title>TV</title>

    <style>
        body {
            box-sizing: border-box;
            margin: 0;
            overflow: hidden;
        }

        video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
        }
    </style>
</head>

<body>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/subtitles-octopus.js"></script>
    <video src="/video" id="video" autoplay controls></video>

    <script>
        const video = document.getElementById("video");

        const options = {
            video: document.getElementById('video'), // HTML5 video element
            subUrl: '/subtitles', // Link to subtitles
            workerUrl: '/js/subtitles-octopus-worker.js', // Link to WebAssembly-based file "libassjs-worker.js"
            legacyWorkerUrl: '/js/subtitles-octopus-worker-legacy.js' // Link to non-WebAssembly worker
        };

        let instance = new SubtitlesOctopus(options);

        const socket = io();
        socket.on('read', function (msg) {
            video.pause();
            video.src = '';
            video.load();
            video.src = '/video' + msg;
            video.load();
            video.play();

            instance.dispose();
            instance = new SubtitlesOctopus(options);

            //instance.setTrackByUrl('/subtitles');

            //player.configure(player.options); // Reload Clapr player
        });

        socket.on("controls", msg => {
            console.log(msg);
            switch (msg.action) {
                case "play":
                    if (video.paused)
                        video.play();
                    else
                        video.pause();
                    break;
            
                case "time":
                    video.currentTime = msg.value;
                    break;

                default:
                    break;
            }
        })
    </script>
</body>

</html>
